<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark bg-dark" data-bs-theme="dark" >
  <div class="container-fluid">
    <%= link_to "ToDoLioSha", root_path, class: 'navbar-brand' %>
    <div style="width: 18rem;">
      <%= render 'form_idex' %> 
    </div>  
  </div>
  
</nav>